/* --------------------------------- */
/* universal css */
/* --------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #3A3A3A;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3A3A3A;
}

.container {
    padding: 0 120px;
    width: 1500px;
    margin: auto;
    max-width: 100%;
}



/* ------------------------------- */
/* header */
/* ------------------------------- */

header {
    padding-top: 50px;
}

.btn {
    border: 0;
}

.btn.menu-btn {
    background-color: transparent;
    color: #3A3A3A !important;
    padding: 0;
    font-size: 20px;
    margin: 0;
    display: none;
}

.btn.menu-btn i {
    color: #3A3A3A;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin: 0 17px;
}

.menu li a {
    font-weight: 600;
}

.menu li img {
    width: 20px;
}




/* --------------------------------------- */
/* hero */
/* --------------------------------------- */

.hero {
    padding-top: 50px;
}

.half {
    width: 50%;
}

h1.title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.subtitle {
    margin: 16px 0;
}

.btn {
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    margin-top: 16px;
    display: inline-block;
    border-radius: 30px;
}

.btn i {
    color: white;
}

.f-end {
    justify-content: flex-end;
}



/* -------------------------------- */
/* logos */
/* -------------------------------- */

.logos {
    padding: 50px 0;
}

.logos .container {
    padding: 0 165px;
}

.logos .line {
    height: 1px;
    background: linear-gradient(rgba(192, 204, 218, 0.1), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.1))
}

.logos .flex {
    padding: 40px 0;
}

.j-around {
    justify-content: space-around;
}


/* -------------------------------- */
/* popular */
/* -------------------------------- */

.popular {
    padding: 50px 0;
}

.popular .container {
    padding: 0 196px;
}

.center {
    text-align: center;
}

.popular .title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item {
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.1);
    padding: 14px;
    border-radius: 5px;
}

.item img {
    width: 100%;
}

.item-title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}

.item-price {
    font-size: 24px;
    font-weight: 400;
}

.fa-star,
.fa-star-half-alt {
    font-size: 12px;
    color: #FB8200;
}

.ratings span {
    color: #5E6366;
    font-weight: 700;
    font-size: 14px;
}

.item-about {
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
    color: #5E6366;
}

.end {
    text-align: right;
    margin-top: 50px;
}

.end a {
    color: #E02C6D;
    font-weight: 700;
}

.end a i {
    color: #E02C6D;
}

a i {
    margin-left: 5px;
}


/* ---------------------------------------- */
/* featured */
/* ---------------------------------------- */

.featured {
    padding: 50px 0;
}

.featured .container {
    padding: 0 165px;
}

.featured-description {
    padding-left: 96px;
}

.featured-description h2 {
    font-size: 38px !important;
    font-weight: 700;
}

.featured-description p {
    font-weight: 700;
}

.featured .btn {
    border-radius: 0;
}



/* --------------------------- */
/* footer */
/* --------------------------- */

.footer {
    background-color: #0A0826;
    padding: 50px 0;
}

.footer h2 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.footer p,
.footer p a {
    font-size: 14px;
    color: white;
}

.j-center {
    justify-content: center;
}

.footer ul {
    margin-top: 16px;
}

.footer a i {
    color: white;
    margin: 0;
}

.social-icon {
    background: rgba(255, 255, 255, 0.1);
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    border-radius: 50%;
}


@media screen and (max-width: 767px) {
    header {
        padding-top: 20px;
        position: relative;
    }

    header .flex {
        position: relative;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: inline-block;
        text-align: center;
    }

    .logo-text {
        font-size: 16px;
    }

    .btn.menu-btn {
        display: block;
        line-height: 1;
        position: relative;
        top: -2px;
    }

    .menu ul li {
        display: none;
    }

    .menu li {
        margin-right: 0;
    }

    .menu ul li:last-child {
        display: block;
    }

    .column {
        flex-direction: column-reverse;
    }

    .container {
        padding: 16px;
    }

    .half {
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 100%;
    }

    .hero {
        padding-top: 0;
    }

    h1.title {
        font-size: 28px;
        margin-top: 14px;
    }

    .half.flex.f-end img {
        width: 75%;
        margin: auto;
    }

    .logos {
        padding: 0;
    }

    .logos .container {
        padding: 0 15px;
    }

    .logos .flex.j-around.a-center {
        flex-wrap: wrap;
    }

    .logos img {
        height: 16px;
        margin: 12px;
    }

    .logos .line {
        display: none;
    }

    .popular {
        padding-top: 0;
    }

    .popular .container {
        padding: 0 15px;
    }

    .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured {
        padding-top: 0;
    }

    .featured .container {
        padding: 0 15px;
    }

    .featured .flex.j-between.a-center {
        flex-direction: column-reverse;
    }

    .featured-description h2 {
        font-size: 24px !important;
        font-weight: 700;
        margin-bottom: 14px;
    }

    .featured-description {
        padding-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }
}