/* --------------------------------- */
/* universal css */
/* --------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #3A3A3A;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3A3A3A;
}

.container {
    padding: 0 120px;
}



/* ------------------------------- */
/* header */
/* ------------------------------- */

header {
    padding-top: 50px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin: 0 17px;
}

.menu li a {
    font-weight: 600;
}

.menu li img {
    width: 20px;
}




/* --------------------------------------- */
/* hero */
/* --------------------------------------- */

.hero {
    padding-top: 50px;
}

.half {
    width: 50%;
}

h1.title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.subtitle {
    margin: 16px 0;
}

.btn {
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    margin-top: 16px;
    display: inline-block;
    border-radius: 30px;
}

.btn i {
    color: white;
}

.f-end {
    justify-content: flex-end;
}



/* -------------------------------- */
/* logos */
/* -------------------------------- */

.logos {
    padding: 50px 0;
}

.logos .container {
    padding: 0 165px;
}

.logos .line {
    height: 1px;
    background: linear-gradient(rgba(192, 204, 218, 0.1), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.6), rgb(192, 204, 218, 0.1))
}

.logos .flex {
    padding: 40px 0;
}

.j-around {
    justify-content: space-around;
}